In [72]:
import pandas as pd

org = pd.read_csv('train_data.csv')
aug = pd.read_csv('final_aug_data.csv')

In [73]:
print(org.shape)
print(aug.shape)

(45654, 3)
(41868, 3)

In [74]:
print(org['topic_idx'].value_counts())
print(aug['topic_idx'].value_counts())

4    7629
2    7362
5    6933
6    6751
1    6222
3    5933
0    4824
Name: topic_idx, dtype: int64
4    7484
5    6535
2    6335
6    5743
1    5664
3    5376
0    4731
Name: topic_idx, dtype: int64

In [75]:
sample_df = pd.concat([org, aug], axis=0)
print(sample_df.shape)
print()
print(sample_df['topic_idx'].value_counts())

(87522, 4)

4    15113
2    13697
5    13468
6    12494
1    11886
3    11309
0     9555
Name: topic_idx, dtype: int64

In [76]:
sample_df.columns

Index(['index', 'title', 'topic_idx', 'Unnamed: 0'], dtype='object')

In [77]:
sample_df = sample_df[['title', 'topic_idx']]

In [78]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87522 entries, 0 to 41867
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      87522 non-null  object
 1   topic_idx  87522 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.0+ MB

In [79]:
cond_2 = (sample_df['topic_idx']==2)

plus_2 = sample_df.loc[cond_2].sample(n=(15113-13697))
print(plus_2.shape)

(1416, 2)

In [80]:
cond_5 = (sample_df['topic_idx']==5)

plus_5 = sample_df.loc[cond_5].sample(n=(15113-13468))
print(plus_5.shape)

(1645, 2)

In [81]:
cond_6 = (sample_df['topic_idx']==6)

plus_6 = sample_df.loc[cond_6].sample(n=(15113-12494))
print(plus_6.shape)

(2619, 2)

In [82]:
cond_1 = (sample_df['topic_idx']==1)

plus_1 = sample_df.loc[cond_1].sample(n=(15113-11886))
print(plus_1.shape)

(3227, 2)

In [83]:
cond_3 = (sample_df['topic_idx']==3)

plus_3 = sample_df.loc[cond_3].sample(n=(15113-11309))
print(plus_3.shape)

(3804, 2)

In [84]:
cond_0 = (sample_df['topic_idx']==0)

plus_0 = sample_df.loc[cond_0].sample(n=(15113-9555))
print(plus_0.shape)

(5558, 2)

In [92]:
plus_df = pd.concat([plus_2, plus_5, plus_6, plus_1, plus_3, plus_0], axis=0)

In [93]:
plus_df['topic_idx'].value_counts()

0    5558
3    3804
1    3227
6    2619
5    1645
2    1416
Name: topic_idx, dtype: int64

In [99]:
balanced_df = pd.concat([sample_df, plus_df], axis=0)

In [100]:
balanced_df = balanced_df[['title', 'topic_idx']]

In [101]:
balanced_df = balanced_df.sample(frac=1).reset_index(drop=True)

In [102]:
balanced_df.shape

(105791, 2)

In [103]:
balanced_df['topic_idx'].value_counts()

1    15113
6    15113
4    15113
3    15113
5    15113
2    15113
0    15113
Name: topic_idx, dtype: int64

In [104]:
balanced_df

                                      title  topic_idx
0                           특별한 세대의 결정에 대하여          1
1             하나금투 LG디스플레이 패널 가격 상승 기대…목표가↑          1
2           SNS 선거운동 글쓰기만으론 부족…라이브 활용해야 효과↑          6
3           멕시코 마야 유적 지하서 수로 발견…사후세계로 가는 통로          4
4                    신간 시미안 수업·클래식 스크린에 흐르는          3
...                                     ...        ...
105786      바른미래당 사무처노조 주대환 규정 어기고 당직자 징계철회          6
105787     혼돈의 학교⑤ 매년 학교 떠나는 교사·학생 6천여명…이유는          2
105788             지노위 MBC 계약직 아나운서 부당해고 판정          2
105789                      영화 드라마를 선택하는 방법          0
105790  KTB 투자 증권 작년 연결 판매 이익 428억원...49% ↑          1

[105791 rows x 2 columns]

In [105]:
balanced_df.to_csv('revised_data.csv')