In [145]:
import pandas as pd

In [149]:
df1 = pd.read_csv('augment_data_set1.csv')
df2 = pd.read_csv('augment_data_set2.csv')
df3 = pd.read_csv('augment_data_set3.csv')
df4 = pd.read_csv('augment_data_set4.csv')

In [150]:
df1.isnull().sum()

Unnamed: 0      0
title         131
topic_idx       0
dtype: int64

In [151]:
df2.isnull().sum()

Unnamed: 0      0
title         127
topic_idx       0
dtype: int64

In [152]:
df3.isnull().sum()

Unnamed: 0      0
title         118
topic_idx       0
dtype: int64

In [153]:
df4.isnull().sum()#

Unnamed: 0      0
title         181
topic_idx       0
dtype: int64

In [154]:
df1.dropna(inplace=True)
df2.dropna(inplace=True)
df3.dropna(inplace=True)
df4.dropna(inplace=True)

In [155]:
df = pd.concat([df1, df2, df3, df4], axis=0)

In [156]:
df.head(10)

   Unnamed: 0                                   title  topic_idx
0           0                  인민→핀란드 항공편 결말...여행객 분열          4
1           1     실리콘 밸리를 넘어서고, 구글 15조에 들어가서 미국 전역 거주          4
2           2  이란의 외국 긴장 해결책은 미국이 경제 전쟁을 멈추게 하는 것입니다.          4
3           3      NYT 클린턴 측 한국 기업 특수 관계 조명...공과 사 대결          4
4           4              시진핑 트럼프에 중미 무역 협상 빠른 종료 희망          4
5           5                     이스라엘 총격으로 16세 소년 사망          4
6           6             인도 48년 만에 파키스탄 공격, 테러 캠프 폭격          4
7           7                    트럼프 대신 빌클린턴을 공격하고 실패          4
8           8         푸틴 한반도 상황 발전을 위한 방 김정은은 위원장과 논의          4
9           9           특수 면역받은 트럼프 스캔들 언론 맹세...국민의 적          4

In [157]:
df.shape

(45094, 3)

In [158]:
df.isnull().sum()

Unnamed: 0    0
title         0
topic_idx     0
dtype: int64

In [159]:
list_title = df['title'].tolist()
list_idx = df['topic_idx'].tolist()

In [160]:
list_title[:4]

['인민→핀란드 항공편 결말...여행객 분열',
 '실리콘 밸리를 넘어서고, 구글 15조에 들어가서 미국 전역 거주',
 '이란의 외국 긴장 해결책은 미국이 경제 전쟁을 멈추게 하는 것입니다.',
 'NYT 클린턴 측 한국 기업 특수 관계 조명...공과 사 대결']

In [161]:
list_idx[:4]

[4, 4, 4, 4]

In [162]:
drity_title = []
drity_idx = []

for t, i in zip(list_title, list_idx):
    
    list_word = t.split(' ')
    
    if len(list_word) >= 3:
    
        if list_word[-1] == list_word[-2] or list_word[-1] == list_word[-3]:

            drity_title.append(t)
            drity_idx.append(i)

In [163]:
len(drity_title)

2480

In [164]:
drity_title[:10]

['촛불이 빛나고 촛불이 빛나고 촛불이 빛나고 촛불이 빛나고 촛불이 빛나고',
 '텍사스 텍사스 텍사스 텍사스 텍사스 텍사스 텍사스 텍사스 텍사스',
 '제1조 제1조 제1조 제1조 제1조 제1조 제1조 제1조 제1조 제1조 제1조 제1조 제1조 제1조 제1조 제1조 제1조 제1조 제1조 제1조',
 '주말 파크 대통령 안보·경제 두 배 위기를 극복 하 고 고',
 '내일이면 옥수수 옥수수 옥수수 옥수수 옥수수 옥수수',
 '선생님 선생님 선생님 선생님 선생님 선생님 선생님 선생님 선생님 선생님 선생님 선생님',
 '황제 황제 황제 황제 황제 황제 황제 황제 황제 황제 황제 황제 황제 황제',
 '재생된 트라우마 롯데 에 울고 판결에 울고',
 '북마케도니아 선거 선거 선거 선거 선거 선거 선거 선거 선거',
 '짐승은 짐승이 짐승이 짐승이 짐승이 짐승이 짐승이 짐승이 짐승이']

In [165]:
clean_title = []
clean_idx = []

for t, i in zip(list_title, list_idx):
    
    if len(t.split(' ')) >= 3:
    
        if t not in drity_title:
            clean_title.append(t)
            clean_idx.append(i)

In [166]:
len(clean_title)

41868

In [167]:
clean_title[:10]

['인민→핀란드 항공편 결말...여행객 분열',
 '실리콘 밸리를 넘어서고, 구글 15조에 들어가서 미국 전역 거주',
 '이란의 외국 긴장 해결책은 미국이 경제 전쟁을 멈추게 하는 것입니다.',
 'NYT 클린턴 측 한국 기업 특수 관계 조명...공과 사 대결',
 '시진핑 트럼프에 중미 무역 협상 빠른 종료 희망',
 '이스라엘 총격으로 16세 소년 사망',
 '인도 48년 만에 파키스탄 공격, 테러 캠프 폭격',
 '트럼프 대신 빌클린턴을 공격하고 실패',
 '푸틴 한반도 상황 발전을 위한 방 김정은은 위원장과 논의',
 '특수 면역받은 트럼프 스캔들 언론 맹세...국민의 적']

In [168]:
clean_idx[:10]

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [169]:
clean_df = pd.DataFrame({'title':clean_title,
                        'topic_idx':clean_idx})

In [170]:
clean_df

                                        title  topic_idx
0                      인민→핀란드 항공편 결말...여행객 분열          4
1         실리콘 밸리를 넘어서고, 구글 15조에 들어가서 미국 전역 거주          4
2      이란의 외국 긴장 해결책은 미국이 경제 전쟁을 멈추게 하는 것입니다.          4
3          NYT 클린턴 측 한국 기업 특수 관계 조명...공과 사 대결          4
4                  시진핑 트럼프에 중미 무역 협상 빠른 종료 희망          4
...                                       ...        ...
41863         KB 금융 미국 IB 스티펠과 연합...개발국 시장 공격          1
41864            1호 서울시교육청 신종코로나 확산에 개입·휴직 검토          2
41865    포스팅 포스팅 포스팅 포스팅 포스팅 포스팅 포스팅 포스팅 2020          1
41866                          응답하는 국립 중앙 박물관          2
41867      2020 한국인터넷상 수상식 내달 1일 개최...특별한 김성후          2

[41868 rows x 2 columns]

In [171]:
clean_df.shape

(41868, 2)

In [172]:
c2k = { "中": "중국", "美": "미국","北":"북한",'日':"일본",'英':'영국', '靑':'청와대','朴':'박근혜','銀':'은행','與':'여당',
     '文':'문재인','野':'야당','獨':'독일','伊':'이탈리아','韓':'한국','佛':'프랑스','檢':'검찰','軍':'군사','安':'안철수','南':'남한',
     '亞':'아시아','展':'전시회','株':'주식'}

In [173]:
list_c = list(c2k.keys())

In [174]:
list_k = list(c2k.values())

In [175]:
k2c = {}

for k, c in zip(list_k, list_c):
    k2c[k]=c

In [176]:
k2c

{'중국': '中',
 '미국': '美',
 '북한': '北',
 '일본': '日',
 '영국': '英',
 '청와대': '靑',
 '박근혜': '朴',
 '은행': '銀',
 '여당': '與',
 '문재인': '文',
 '야당': '野',
 '독일': '獨',
 '이탈리아': '伊',
 '한국': '韓',
 '프랑스': '佛',
 '검찰': '檢',
 '군사': '軍',
 '안철수': '安',
 '남한': '南',
 '아시아': '亞',
 '전시회': '展',
 '주식': '株'}

In [177]:
list_n_title = clean_df['title'].tolist()
list_n_idx = clean_df['topic_idx'].tolist()

In [178]:
def replace_all(text, dic):
    for i, j in dic.items():
        text = text.replace(i, j)
    return text

In [179]:
last_title = []
last_idx = []

for t, i in zip(list_n_title, list_n_idx):
    
    t = replace_all(t, k2c)
    t = t.replace('입니다', '').replace('이다', '').replace('습니다', '다').replace('했다','')
    
    last_title.append(t)
    last_idx.append(i)

In [180]:
last_df = pd.DataFrame({'title':last_title,
                        'topic_idx':last_idx})

In [181]:
last_df

                                      title  topic_idx
0                    인민→핀란드 항공편 결말...여행객 분열          4
1        실리콘 밸리를 넘어서고, 구글 15조에 들어가서 美 전역 거주          4
2        이란의 외국 긴장 해결책은 美이 경제 전쟁을 멈추게 하는 것.          4
3         NYT 클린턴 측 韓 기업 특수 관계 조명...공과 사 대결          4
4                시진핑 트럼프에 중미 무역 협상 빠른 종료 희망          4
...                                     ...        ...
41863        KB 금융 美 IB 스티펠과 연합...개발국 시장 공격          1
41864          1호 서울시교육청 신종코로나 확산에 개입·휴직 검토          2
41865  포스팅 포스팅 포스팅 포스팅 포스팅 포스팅 포스팅 포스팅 2020          1
41866                        응답하는 국립 중앙 박물관          2
41867     2020 韓인터넷상 수상식 내달 1일 개최...특별한 김성후          2

[41868 rows x 2 columns]

In [182]:
last_df.to_csv('final_aug_data.csv')

In [183]:
last_df['topic_idx'].value_counts()

4    7484
5    6535
2    6335
6    5743
1    5664
3    5376
0    4731
Name: topic_idx, dtype: int64