In [24]:
import pandas as pd

org = pd.read_csv('train_data.csv')
aug = pd.read_csv('final_aug_data.csv')

In [25]:
print(org.shape)
print(aug.shape)

(45654, 3)
(35727, 3)

In [26]:
print(org['topic_idx'].value_counts())
print(aug['topic_idx'].value_counts())

4    7629
2    7362
5    6933
6    6751
1    6222
3    5933
0    4824
Name: topic_idx, dtype: int64
4    6923
5    5546
2    5111
1    4798
6    4741
3    4390
0    4218
Name: topic_idx, dtype: int64

In [27]:
sample_df = pd.concat([org, aug], axis=0)
print(sample_df.shape)
print()
print(sample_df['topic_idx'].value_counts())

(81381, 4)

4    14552
5    12479
2    12473
6    11492
1    11020
3    10323
0     9042
Name: topic_idx, dtype: int64

In [28]:
sample_df.columns

Index(['index', 'title', 'topic_idx', 'Unnamed: 0'], dtype='object')

In [29]:
sample_df = sample_df[['title', 'topic_idx']]

In [30]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81381 entries, 0 to 35726
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      81381 non-null  object
 1   topic_idx  81381 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.9+ MB

In [31]:
cond_2 = (sample_df['topic_idx']==2)

plus_2 = sample_df.loc[cond_2].sample(n=(14552-12473))
print(plus_2.shape)

(2079, 2)

In [32]:
cond_5 = (sample_df['topic_idx']==5)

plus_5 = sample_df.loc[cond_5].sample(n=(14552-12479))
print(plus_5.shape)

(2073, 2)

In [33]:
cond_6 = (sample_df['topic_idx']==6)

plus_6 = sample_df.loc[cond_6].sample(n=(14552-11492))
print(plus_6.shape)

(3060, 2)

In [34]:
cond_1 = (sample_df['topic_idx']==1)

plus_1 = sample_df.loc[cond_1].sample(n=(14552-11020))
print(plus_1.shape)

(3532, 2)

In [35]:
cond_3 = (sample_df['topic_idx']==3)

plus_3 = sample_df.loc[cond_3].sample(n=(14552-10323))
print(plus_3.shape)

(4229, 2)

In [36]:
cond_0 = (sample_df['topic_idx']==0)

plus_0 = sample_df.loc[cond_0].sample(n=(14552-9042))
print(plus_0.shape)

(5510, 2)

In [37]:
plus_df = pd.concat([plus_2, plus_5, plus_6, plus_1, plus_3, plus_0], axis=0)

In [38]:
plus_df['topic_idx'].value_counts()

0    5510
3    4229
1    3532
6    3060
2    2079
5    2073
Name: topic_idx, dtype: int64

In [39]:
balanced_df = pd.concat([sample_df, plus_df], axis=0)

In [40]:
balanced_df = balanced_df[['title', 'topic_idx']]

In [41]:
balanced_df = balanced_df.sample(frac=1).reset_index(drop=True)

In [42]:
balanced_df.shape

(101864, 2)

In [43]:
balanced_df['topic_idx'].value_counts()

3    14552
5    14552
4    14552
1    14552
6    14552
0    14552
2    14552
Name: topic_idx, dtype: int64

In [44]:
balanced_df

                                      title  topic_idx
0       훌륭한 이름도 없고, 훌륭한 이름도 없고, 훌륭한 이름도 없다.          3
1                 내일날씨 전국 구름 많음…아침 기온 다소 올라          3
2              김연경 금환...이제 도쿄 올림픽 출발을 위해 완성          5
3             브라질 최대정당 호세프와 결별할 듯…탄핵 가능성 커져          4
4                책·TV·PC 보면서도 스마트폰 손에서 못 뗀다          3
...                                     ...        ...
101859            표면을 보다 고르게…신개념 정밀 코팅기술 개발          0
101860      월드컵 러시아 팬도 손흥민 보러왔어요…인기 스타는 ...          5
101861               레알 바르사와 함께 승리...강렬한 싸움          5
101862   프로 농구 인삼공사 KCC에 연장 혈투 승리...콜페퍼 27점          5
101863                정부의 비상사고와 비상사고에 대한 논의          2

[101864 rows x 2 columns]

In [45]:
balanced_df.to_csv('revised_data.csv')

In [46]:
train = pd.read_csv('revised_data.csv')
train['topic_idx'].value_counts()

3    14552
5    14552
4    14552
1    14552
6    14552
0    14552
2    14552
Name: topic_idx, dtype: int64