# Setting

## Library

In [1]:
import pandas as pd

from sklearn.svm import LinearSVR

# Load Data

In [2]:
train = pd.read_csv('/Users/namwoo/Desktop/jeju/cv_stacking_train_verson_7_depth_14_20.csv')
test = pd.read_csv('/Users/namwoo/Desktop/jeju/cv_stacking_test_verson_7_depth_14_20.csv')

# Preprocessing

In [3]:
train

                 0  target
0        50.758128    52.0
1        25.990756    30.0
2        64.379205    61.0
3        19.583195    20.0
4        38.466784    38.0
...            ...     ...
4701212  25.136037    20.0
4701213  70.628292    65.0
4701214  28.406926    30.0
4701215  64.868473    73.0
4701216  32.098313    35.0

[4701217 rows x 2 columns]

In [4]:
test

                0
0       25.567762
1       41.657883
2       65.437561
3       38.657729
4       42.137718
...           ...
291236  47.159535
291237  50.621718
291238  21.342955
291239  22.856498
291240  46.856108

[291241 rows x 1 columns]

In [ ]:
X = train.drop(columns='target')
y = train['target']

# Modeling

In [ ]:
# max_iter= 3000 -> 18분 21초 걸림
# max_iter= 10000 -> 38분 2초 걸림
# max_iter= 50000 -> 63분 47초 걸림
# max_iter= 70000 -> 분 초 걸림

svr = LinearSVR(max_iter= 50000, verbose=1)

svr.fit(X, y)

# 1000 9분 40초
# 10000 68분 6초
# 50000 152분 29초

# Submission

In [ ]:
sub = pd.read_csv('/Users/namwoo/Desktop/jeju/sample_submission.csv')

sub['target'] = svr.predict(test)
sub

In [ ]:
sub.to_csv('/Users/namwoo/Desktop/jeju/Sub_Stacking_cv_verson_467_50000.csv', index=False)

# Ensemable

In [ ]:
sub['target'] = (sub['target'] + test['0']) / 2
sub

In [ ]:
sub.to_csv('/Users/namwoo/Desktop/jeju/Sub_Stacking_ensemable_verson_4.csv', index=False)